body {
	font-family: 'Nunito' !important;
	font-size: 1rem;
	font-weight: 400;
	background-color: $body-bg;
	color: $text-color-light;
	overflow-x: hidden;
}

.main-content {
	min-height: calc(100vh - #{$footer-height} - 111px);

	@include media-breakpoint-down(sm) {
		padding-top: rem($header-height);
	}
}
