.is-white {
	color: white;
}
.is-primary {
	color: $primary-color;
}
.is-text-color {
	color: $text-color;
}
.is-text-gray {
	color: $text-gray;
}
.is-bg-red {
	background-color: $red;
}
.is-bg-pink {
	background-color: $pink;
}
.is-red {
	color: $red;
}
.is-bg-primary {
	background-color: $primary-color;
}

.is-base-z {
	z-index: $base-z-index;
}

.is-global-shadow {
	box-shadow: $global-shadow;
}
.is-pink-shadow {
	box-shadow: $pink-shadow;
}
.is-red-shadow {
	box-shadow: $red-shadow;
}

.font-12 {
	font-size: rem(12px);
}
.font-14 {
	font-size: rem(14px);
}
.font-18 {
	font-size: rem(18px);
}
.is-wight-800 {
	font-weight: 800;
}
.is-wight-600 {
	font-weight: 600;
}
