///////////////////////////////////
/////////////  color  /////////////
///////////////////////////////////
$primary-color: #252584;
$secondary-color: #00d9ff;
$text-color: #cfcfde;
$body-bg: white;

///////////////////////////////////
/////////////  other  /////////////
///////////////////////////////////
$base-z-index: 10;
$header-height: 111px;
$footer-height: 188px;
