///////////////////////////////////
/////////////  color  /////////////
///////////////////////////////////
$primary-color: #252584;
$secondary-color: #00d9ff;
$text-color-light: #cfcfde;
$text-color: #444;
$text-gray: $gray-600;
$body-bg: white;
$light-red: #ffeeee;
$red: #fe0302;
$light-orang: #fffcde;
$orange: #ffc738;
$light-purple: #eedeff;
$purple: #8151bc;
$pink: #ff00b8;
$light-blue: #dcf0ff;
$blue: #2b61b4;

///////////////////////////////////
/////////////  other  /////////////
///////////////////////////////////
$global-shadow: 0 0 rem(8px) 0 rgba(0, 0, 0, 0.2);
$red-shadow: 0 0 rem(16px) 0 rgba($red, 0.4);
$pink-shadow: 0 0 rem(16px) 0 rgba($pink, 0.4);
$people-shadow: 0px 6px 1rem 0px rgba(0, 0, 0, 0.1);
$people-shadow-hover: 0px 6px 1rem 0px rgba(0, 0, 0, 0.2);
$modal-overlay-bg: rgba(0, 0, 0, 0.4);

$base-z-index: 10;
$base-z-index-modal-overlay: $base-z-index + 30;

$people-card-radius: 12px;

$header-height: 111px;
$footer-height: 188px;
